<div class="contact">
    <div class="container"> 

        <h3 class="title">  أضف عقارك  </h3>

        <div class="form-contact">
            <form action="" class="row">
                <div class="col-md-4">
                    <div class="label"> 
                        <label for="">رقم الهاتف</label>
                    </div>
                    <input type="text" class="form-control" value="07" ran required>
                </div>
                <div class="col-md-4">
                    <div class="label"> 
                        <label for="">البريد الإلكتروني</label>
                    </div>
                    <input type="email" class="form-control" required >
                </div>
                <div class="col-md-4">
                    <div class="label"> 
                        <label for="">الإسم </label>
                    </div>
                    <input type="text" class="form-control" required >
                </div>
                <div class="col-md-3 add-image">
                    <div class="label"> 
                        <label for="">إضافة صور  العقار </label>
                    </div>
                    <input type="file" class="form-control-image" multiple required>
                </div>
                <div class="col-md-2">
                  <div class="label"> 
                    <label for="">عدد غرف النوم </label>
                </div>
                <select class="form-select" aria-label="Default select example" required>
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
                <div class="col-md-2">
                  <div class="label"> 
                    <label for="">عدد دورات المياه </label>
                </div>
                <select class="form-select" aria-label="Default select example" required>
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
                <div class="col-md-2">
                  <div class="label"> 
                    <label for="">عدد المجالس </label>
                </div>
                <select class="form-select" aria-label="Default select example" required>
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                </div>
                <div class="col-md-3">
                  <div class="label"> 
                    <label for="">  العقار </label>
                </div>
                <select class="form-select" aria-label="Default select example" required>
                  <option selected> نوع العقار</option>
                  <option value="1">شاليه</option>
                  <option value="2">إستراحة / مزرعة </option>
                  <option value="3">شاليه, مزرعة / للأفراح </option>
                </select>
                </div>
                <div class="col-md-3">
                  <div class="label"> 
                    <label for="">المحافظة </label>
                </div>
                <select class="form-select" aria-label="Default select example" required>
                  <option selected>إختر المنطقة</option>
                  <option value="1">عمان</option>
                  <option value="2">الزرقاء</option>
                  <option value="3">إربد</option>
                  <option value="4">عجلون</option>
                  <option value="5">جرش</option>
                  <option value="6">الكرك</option>
                  <option value="7">الطفيلة</option>
                  <option value="8">البلقاء</option>
                  <option value="9">المفرق</option>
                  <option value="10">العقبة</option>
                  <option value="11">معان</option>
                </select> 
              </div>
                <div class="col-md-12">
                    <div class="label"> 
                        <label for="">وصف كامل عن العقار</label>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" class="form-control" required ></textarea>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary">أرسل</button>
                </div>
            </form>
        </div>
    </div>
</div>