<div class="contact">
    <div class="container"> 

        <h3 class="title">  تواصل معنا  </h3>

        <div class="form-contact">
            <form action="" class="row">
                <div class="col-md-4">
                    <div class="label"> 
                        <label for="">رقم الهاتف</label>
                    </div>
                    <input type="text" class="form-control" value="07" >
                </div>
                <div class="col-md-4">
                    <div class="label"> 
                        <label for="">البريد الإلكتروني</label>
                    </div>
                    <input type="email" class="form-control" >
                </div>
                <div class="col-md-4">
                    <div class="label"> 
                        <label for="">الإسم </label>
                    </div>
                    <input type="text" class="form-control"  >
                </div>
                <div class="col-md-12">
                    <div class="label"> 
                        <label for="">الموضوع</label>
                    </div>
                    <input type="text" class="form-control" >
                </div>
                <div class="col-md-12">
                    <div class="label"> 
                        <label for="">الرسالة</label>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" class="form-control" ></textarea>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary">أرسل</button>
                </div>
            </form>
        </div>
    </div>
</div>