@model Chaletin.Areas.Identity.Data.ContactMessage
<div class="contact">
    <div class="container">
        <h3 class="title">  تواصل معنا  </h3>
        <div class="form-contact">
            <form asp-controller="Home" asp-action="AddMessage" class="row">
                <div class="col-md-12">
                    <div class="label">
                        <label>الموضوع</label>
                    </div>
                    <input type="text" asp-for="Subject" class="form-control">
                </div>
                <div class="col-md-12">
                    <div class="label">
                        <label for="">الرسالة</label>
                    </div>
                    <textarea cols="30" asp-for="Message" rows="10" class="form-control"></textarea>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">أرسل</button>
                </div>
            </form>
        </div>
    </div>
</div>