<div class="landing">
    <div class="overlay"></div>
    <div class="text">
        <div class="content">
            <h2>

                <span class="checkin">احجز الآن</span>
                <br>
                شاليهك . مزرعتك . عرسك
                <br>

            </h2>
            <p>
                موقع إلكتروني متخصص بحجز الشاليهات و المزارع و قاعات الأفراح على مستوى المملكة ، أسرع طريقة للحصول على أفضل إختيار
            </p>
        </div>
    </div>
</div>
<section class="box ">
    <div class="container">

        <h3 class="title"> إبحث عن إختيارك </h3>

        <div class="row p-5">
            <div class="col-3 col-md-4 col-lg-4 ">
                <div class="card">
                    <img src="~/Image/wedding.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">قاعات الأفراح</h5>
                        <p class="card-text">إذا تبحث عن شاليه أو مزرعة لإقامة حفل زفاف، فأنت في المكان المناسب أفضل الشاليهات والمزارع لإقامة حفل زفاف </p>
                        <a href="#" class="btn btn-primary">إكتشف الآن</a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-4 col-lg-4">
                <div class="card">
                    <img src="~/Image/farm.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">المزارع</h5>
                        <p class="card-text">تستحق يوم صافي هادي مع من تحب لقضائه في مزرعه مميزه، شاهد أفضل المزارع للايجار بأفضل الاسعار،</p>
                        <a href="#" class="btn btn-primary">إكتشف الآن</a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-4 col-lg-4">
                <div class="card">
                    <img src="~/Image/chalets.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">الشاليهات</h5>
                        <p class="card-text">إذا تبحث عن شاليه لقضاء يوم مميز، فأنت في المكان المناسب أفضل الشاليهات  بألعاب اطفال العاب مائيه، مسطحات خضراء،</p>
                        <a href="#" class="btn btn-primary">إكتشف الآن</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service">
    <div class="container">
        <h3 class="title"> ماذا يميزنا ؟</h3>
        <div class="row">
            <div class="col-3 col-md-4 col-lg-4">
                <div class="images1">
                </div>
                <div class="content">
                    <h4>تقييمات موثوقة</h4>
                    <p>تقييمات وتعليقات مصدقة</p>
                </div>
            </div>
            <div class="col-3 col-md-4 col-lg-4">
                <div class="images2">
                </div>
                <div class="content">
                    <h4>
                        طرق دفع آمنة
                    </h4>
                    <p> وسائل دفع موثوقة وآمنة</p>
                </div>
            </div>
            <div class="col-3 col-md-4 col-lg-4">
                <div class="images3">
                </div>
                <div class="content">
                    <h4>حجز مؤكد ومضمون</h4>
                    <p>حجزك مضمون بنسبة مئة بالمئة </p>
                </div>
            </div>
        </div>
    </div>
</section>